.h1{
    font-weight: 200;
}

.tela{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    gap: 5%;
}

.escolhas{
    display: flex;
    flex-direction: row;
    gap: 15%;
    padding: 5%;
}

.escolha1{
    position: relative;
    padding: 10px; /* Espaçamento interno */
    background-color: white; /* Cor de fundo da div */
    border-radius: 15px;
    width: 20vw;
    height: 25vh;
    cursor: pointer;
    border: none;

}
.escolha1 img{
    width: 140px;
    height: 140px;
}

.escolha1::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-image: linear-gradient(39deg, #03396C 0%, #066FD2 77%);
    border-radius: 20px; /* Para manter o arredondamento */
    z-index: -1;
}


.escolha2{
    position: relative;
    padding: 15px; /* Espaçamento interno */
    background-color: white; /* Cor de fundo da div */
    border-radius: 15px;
    width: 20vw;
    height: 25vh;
    cursor: pointer;
    border: none;
}
.escolha2 img{
    width: 130px;
    height: 130px;
}

.escolha2::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-image: linear-gradient(39deg, #03396C 0%, #066FD2 77%);
    
    border-radius: 20px;
    z-index: -1;
}

.bola {
    width: 1.3em;
    height: 1.3em;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #ffffff;
    outline: 2px solid #03396C;
    cursor: pointer;
    border: none;
}

.bola:checked{
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    vertical-align: middle;
    appearance: auto;
    background-color: linear-gradient(39deg, #03396C 0%, #066FD2 77%);
    clip-path: circle(50% at 50% 50%);
    border: 2px solid #ffffff;
    outline: 2px solid #03396C;
    cursor: pointer;
}

.papai{
    display: flex;
    flex-direction: row;
    justify-content: end;
}



