.body {
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
    gap: 5% 5%;
}

.card {
    width: fit-content;
    height: 5vh;
    box-shadow: 12px;
    border-radius: 20px;
    padding: 6px;
    align-items: center;
    -webkit-box-shadow: -1px 11px 10px 0px rgba(189, 189, 189, 1);
    -moz-box-shadow: -1px 11px 10px 0px rgba(189, 189, 189, 1);
    box-shadow: -1px 11px 10px 0px rgba(189, 189, 189, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.cardSelected {
    border: 2px solid #03396C;
    border-radius: 20px;
    box-shadow: none;
  }



.img {
    width: 40px;
    height: 40px;
}