.body{
    width: 100%;
    width: 80vh;
    display: flex;
    flex-direction: row;
    gap: 15%;
    align-items: center;
    padding: 3%;
}

.card{
    width: 50%;
    height: 40%;
    background-color: aqua;
    gap: 15%;
    border-radius: 20px;
    align-items: center;
}

.img{
    width: 20%;
    height: 20%;
}