.coluna {
  width: 24%;
  height: 100vh;
  background: rgb(1,31,75);
  background: linear-gradient(39deg, rgba(1,31,75,1) 0%, rgba(3,57,108,1) 77%);
  text-align: left;
} 

.coluna img {
  height: 100vh;
}