*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #222222;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 50px;
    width: 90%;
    
}

input {
    border-radius: 7px;
    width: 551px;
    height: 40px;
    border: none;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    padding-left: 25px;
}

.tela{
    display: flex;
    flex-direction: row;
    gap: 50%;
}