.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 50px;
}


input {
    border-radius: 7px;
    width: 551px;
    height: 40px;
    border: none;
}