.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 9vh;
    background-color: white;
    align-items: center;
    gap: 78%;
}

.header img{
    width: 5%;
    height: 66%;
    padding: 20px;
}


.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user img{
    width: 20%;
    height: 66%;
    cursor: pointer;
}