.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: white;
    align-items: center;
    gap: 1400px;
}

.header img{
    width: 5%;
    height: 60%;
}