.navegacao {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}

.telas {
    display: flex;
    flex-direction: column;
}

.perfil {
    height: 85vh;
    width: 18vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    gap: 10px;
}

.perfil h1 {
    background-image: linear-gradient(90deg, rgba(8, 16, 97, 1) 35%, rgba(6, 111, 210, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    font-weight: 600;
}

.descricao {
    padding: 17px;
}

.botao {
    width: 15vw;
    height: 4vh;
    border-radius: 20px;
    border: none;
    background: rgb(8, 16, 97);
    background: linear-gradient(90deg, rgba(8, 16, 97, 1) 35%, rgba(6, 111, 210, 1) 100%);
    color: white;
    font-size: 16px;
    cursor: pointer;
}