
.telas{
    display: flex;
    flex-direction: column;
}
.propostas{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.infoPerfil{
    display: flex;
    flex-direction: row;
}

.a{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.pi{
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    padding: 40px;
    justify-content: center;
    width: 76vw;
    height: 73vh;
}

.navegacao{
    display: flex;
    flex-direction: row;
    gap: 7%;
    align-items: center;
}

.card{
    height: 25vh;
    width: 20vw;
    background: linear-gradient(0deg, rgba(1,31,75,1) 35%, rgba(3,57,108,1) 100%);
    align-items: start;
    display: flex;
    gap: 10%;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    border-radius: 10px;
    cursor: pointer;

}

.card h2{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.profilePhoto{
    width: 5vw;
    height: 5vh;
}

.card p{
    font-size: 15px;
    text-align: start;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
}

.habilidade{
    width: 8vw;
    height: 3vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.habilidade p{
    color: black;
    font-weight: 500;
}


.habilidade img{
    width: 1.5vw;
    height: 2.5vh;
}

.filho{
    display: flex;
    flex-direction: row;
    gap: 7px;
}


.feed{
    width: 80vw;
    height: 83vh;
    background-color: #EFEFEF;
}

.perfil{
    display: flex;
    flex-direction: row;
    gap: 10%;
}